@font-face
{
  font-family: "HeaderAndFooterFont";
  src: url("fonts/chatkids-webfont.woff");
}

@font-face {
  font-family: "NavAndTitleText";
  src: url("fonts/Christmas Okinawa.otf");
}

body
{
  font-size: 100%;
}

.header_container
{
  display: flex;
  justify-content: center;
}


.nav
{
  font-family: NavAndTitleText;
  font-size: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.nav a
{
  text-decoration: none;
  color: #78B3CE;
}

.nav a:hover
{
  color: #d16084;
  font-size: 1.2em;
}
.btn
{
  color: #78B3CE;
  border-radius: 10px;
  background-color: #FBF8EF;
  font-size: 1.5em;
  font-family: NavAndTitleText;
  padding: 10px;
  width: 150px;
  border: 2px solid;
}


#formid
{
  display: flex;
  flex-direction: column;
  width: 30%;
  position: relative;
  z-index: 1;
  top: 50%;
  left: 35%;
}

.nav_box
{
  height: 50px;
  background: #FBF8EF;
}

.pictures_flexbox
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

img
{
  margin: 1.8%;
}


.header
{
  font-family: HeaderAndFooterFont;
  color: #F96E2A;
  font-size: 3em;
}

.footer_container
{
  display: flex;
  justify-content: flex-end;
  font-size: 0.7em;
}

.cute_text
{
  font-family: HeaderAndFooterFont;
  color: #F96E2A;
  font-size: 2em;
}

.box
{
  border-radius: 10px;
  background: #FBF8EF;
}

.box_img
{
  border-radius: 10px;
  background: #FBF8EF;
}

.pink
{
  color: #d16084 ;
}

.oranged
{
  background: #ffa054;
}

.sunflowers
{
  background: url("images/sunflowers1.png");
  margin-left: auto;
  margin-right: auto;
  background-position: bottom;
  width: 30%;
}

.art_box
{
  /*border-style: solid;*/
  /*border-color: #70065b;*/

  border: 10px solid transparent;
  background-image: url('images/funbck.jpg'); /* Replace with SVG code */
  background-position: left;
}


body
{
  background-image: url("images/background.jpg");
}

.paragraph_text
{
  font-family: "Tw Cen MT";
  font-size: 2.5em;
}

.txta
{
  border: 2px solid;
  border-radius: 5px;
  border-color: #d16084;
  font-family: "Tw Cen MT";
  font-size: larger;
  background-color: #ffc292;
  color: #20055e;
}

.background_for_contact
{
  position: absolute;
  opacity: 50%;
  height: 340px;
  width: 700px;
  left:  50px;

  background-image: linear-gradient(90deg, white 50%, transparent 50%),
  linear-gradient(white 50%, transparent 50%);
  background-size: 10px 10px;
  left: 33%;
}

.error
{
  box-shadow: 0 0 10px #ff2044;
}

.article_header
{
  font-family: HeaderAndFooterFont;
  font-size: 200%;
  color: #20055e;
}

.row_flex
{
  display: flex;
  flex-direction: row;
  margin: 70px;
  position: relative;
}

.col_flex
{
  display: flex;
  flex-direction: column;
  position: relative;
}



.home_backgrounds
{
  position: absolute;
  opacity: 50%;
  height: 60%;
  width: 77%;

  background-image: linear-gradient(90deg, white 50%, transparent 50%),
  linear-gradient(white 50%, transparent 50%);
  background-size: 10px 10px;
  left: 20%;
}
/*moze sie uda tak ze od 0 bedzie sie cale rozwijac*/
